/* POUR LA CARD QUI REGROUPE TOUS LES ELEMENTS  */
.card-serie-film{
    display: flex;
    background-color:#2D2F36 ;
    width:"10vw";
    margin-right:10px;
    width:10vw;
    height:25vh;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    
}

/* POUR LE TEXTE DES CARD DES FILM ET SERIE */
.card-serie-film h4,.card-serie-film p{
    color:white;
    text-align: center;
    font-size: 17px;

}
/* **********************************RESPONSIVE********************** */

/* POUR TABLETTE */
@media screen and  (max-width: 768px) {
  .card-serie-film {
    width: 25vw;  
    height: 20vh;
  }
}

/* PETIT ECRAN */
@media screen and (max-width: 480px) {
  .card-serie-film {
    width: 80vw;  
    height: auto;
  }

  .card-serie-film h4, .card-serie-film p {
    font-size: 16px; 
  }
}
