/* POUR LA CARD QUI REGROUPE TOUS LES ELEMENTS  */
.card-serie-film{
    display: flex;
    background-color:#2D2F36 ;
    
    margin-right:10px;
    width:13vw;
    height:28vh;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    
}

/* POUR LE TEXTE DES CARD DES FILM ET SERIE */
.card-serie-film h4,.card-serie-film p{
    color:white;
    text-align: center;
    font-size: 17px;

}
/* **********************************RESPONSIVE********************** */

@media screen and (min-width:769px) and (max-width:1385px){
  
   .card-serie-film {
    width: 21vw;  
    height: 27vh;
  }

}

/* POUR TABLETTE */
@media screen and (min-width:481px) and  (max-width: 768px) {
  .card-serie-film {
    width: 35vw;  
    height: 23vh;
  }
}

/* PETIT ECRAN */
@media screen and (max-width: 480px) {
  .card-serie-film {
    width: 70vw;  
    height:  25vh;
  }

  .card-serie-film h4, .card-serie-film p {
    font-size: 16px; 
  }
}
