/* POUR LA CARD QUI REGROUPE TOUS LES ELEMENTS  */
.serie-movie-information{
    display: flex;
    background-color:#2D2F36 ;
    
    margin-right:10px;
    width:13vw;
    height:45vh;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    
}

/* POUR LE TEXTE DES CARD DES FILM ET SERIE */
.serie-movie-information h4,.serie-movie-information p{
    color:white;
    text-align: center;
    font-size: 17px;

}
/* **********************************RESPONSIVE********************** */

@media screen and (min-width:769px) and (max-width:1385px){
  
   .serie-movie-information {
    width: 21vw;  
    height: 43vh;
  }

}

/* POUR TABLETTE */
@media screen and (min-width:481px) and  (max-width: 768px) {
  .serie-movie-information {
    width: 35vw;  
    height: 25vh;
  }
}

/* PETIT ECRAN */
@media screen and (max-width: 480px) {
  .serie-movie-information{
    width: 70vw;  
    height:  25vh;
  }

  .serie-movie-information h4, .serie-movie-information p {
    font-size: 16px; 
  }
}
