/* DIV QUI REGROUPE TOUTES LES PAGES  */
.div-home{
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    padding:20px;
}


/* STYLE QUI REGROUPE TOUTE LES CARD HEADER */
.div-card-home{
    /* border:1px solid blue; */
    display: flex;
    

}

/* STYLE POUR LES LIENS DE LA CARD  */
.lien-card{
    text-decoration: none;

}

/* STYLE POUR LA DIV REGROUPANT SERIE ET FILM */
.div-serie-film{
    /* border:1px solid white; */
    display: flex;
    flex-direction: column;
}

.title-categorie{
    color:white;
    margin: 20px 0 20px 0;
    font-size: 25px;
}