/* ***************************** HOMES ***************** */
/* DIV QUI REGROUPE TOUTES LES PAGES  (SERIE ,FILM */
.div-principale{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    padding:20px;
    
    
}




/* STYLE QUI REGROUPE TOUTE LES CARD HEADER */
.div-card-home{
    /* border:1px solid blue; */
    display: flex;
    flex-wrap: wrap;

}

/* STYLE POUR LES LIENS DE LA CARD  */
.lien-card{
    text-decoration: none;
}

/* STYLE POUR LA DIV REGROUPANT SERIE ET FILM */
.div-serie-film{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* STYLE POUR LE TITRE DES CATEGORIES */
.title-categorie{
    color:white;
    margin: 20px 0 20px 0;
    font-size: 25px;

}

/* DIV POUR LES PAGE */
.div-film,.div-serie,.div-card-serie-film{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/************ POUR LES PAGE DISNEY,PIXAR,MARVEL,NATIONAL GEOGRAPHIC,STAR WARS , STAR  */
.div-disney,.div-marvel,.div-national,.div-pixar,.div-star,.div-wars{
     padding:20px;
}

/* *********************************************RESPONSIVE ********************************************************* */



/* TABLETTE  */
@media screen and (min-width:481px) and  (max-width: 768px) {

 /* POUR E TITRE DES CATEGORIE */
  .title-categorie {
    font-size: 20px;
    text-align: center;
  }
}
/* SMARTPHONE */
@media screen and (max-width: 480px) {
  .div-card-home, .div-film, .div-serie {
    flex-direction: column;
   
  }
}