/* ***************************** HOMES ***************** */
/* DIV QUI REGROUPE TOUTES LES PAGES  */
.div-home{
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
    padding:20px;
    
}


/* STYLE QUI REGROUPE TOUTE LES CARD HEADER */
.div-card-home{
    /* border:1px solid blue; */
    display: flex;
    flex-wrap: wrap;

}

/* STYLE POUR LES LIENS DE LA CARD  */
.lien-card{
    text-decoration: none;
}

/* STYLE POUR LA DIV REGROUPANT SERIE ET FILM */
.div-serie-film{
    /* border:1px solid white; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* STYLE POUR LE TITRE DES CATEGORIES */
.title-categorie{
    color:white;
    margin: 20px 0 20px 0;
    font-size: 25px;

}

/* DIV POUR LES FILMS ET SERIES */
.div-film,.div-serie,.div-disney{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

