/* ******************* CARDHEADER*********************** */
.card-header{
    
    
    /* HORS REPONSIVE */
    width:15vw;
    height:10vh;
     align-items: center;
     margin-bottom:10px;
}

/* STYLE POUR LA CARD HEADER ET CATEGORY */
.card-header,.card-categorie{
    background-color:#2D2F36 ;
    margin-right: 10px;
    display: flex;
    justify-content: center;

}

/* STYLE POUR LES INFIORMATION DE LA CARD HEADER  */
.text-information{
    color: white;
    padding:20px;
    text-align: center;
    font-size: 17px;
}

/* ***********************CATEGORYLIST***** */

/* DIV REGOURPANT TOUTES LES INFORMATION CONCERNANT LA CAEGORY (DISNEY,MARVEL) */
.div-category{
     display: flex;
    flex-wrap: wrap;   
       
    gap: 15px;              
    padding: 0;
    margin: 0;
    /* list-style: none;  */
}
/* SPECIFICATION POUR LES CARD SELON LA CATEGORIE  */
.card-categorie{
    width:20vw;
    height:40vh;
     align-items: flex-end;
    
}


/* *********************************RESPONSIVE ************************************ */
/* ECRAN TABLETTE */
@media (max-width: 768px) {
  .card-header {
    width: 35vw;   
    height: 15vh;
  }

   .card-categorie{
    width:30vw;
    height:30vh; 
  }
}

/* PORTABLE  */
@media (max-width: 480px) {
  .card-header {
    width: 70vw;   
    height: 13vh;
  }

  .card-categorie{
    width:60vw;
    height:30vh; 
}

  .text-information {
    font-size: 16px; 
  }

}


