/* ******************* CARDHEADER*********************** */
.card-header{
    width:15vw;
    height:10vh;
}

/* STYLE POUR LA CARD HEADER ET CATEGORY */
.card-header,.card-categorie{
    background-color:#2D2F36 ;
    /* width:15vw; */
    margin-right: 10px;
    /* height:10vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border:1px solid red; */
    
}

/* STYLE POUR LES INFIORMATION DE LA CARD HEADER  */
.text-information{
    color: white;
    padding:20px;
    text-align: center;
    font-size: 17px;
}

/* ***********************CATEGORYLIST***** */

/* DIV REGOURPANT TOUTES LES INFORMATION CONCERNANT LA CAEGORY (DISNEY,MARVEL) */
.div-category{
     display: flex;
    flex-wrap: wrap;        
    gap: 15px;              
    padding: 0;
    margin: 0;
    /* list-style: none;  */
}

.card-categorie{
    width:10vw;
    height:30vh;
}

